---
import { ImageHoverBackground } from "../../components";
import {albumData} from "../../constants"
---

<section>
      <ImageHoverBackground 
    items={albumData} 
    transitionDuration={600}
  >
    <p class="text-5xl">アルバム</h1>
    <p class="text-lg">Album</p>
  </ImageHoverBackground>
</section>