html,
body {
  margin: 0;
  padding: 0;
  font-family: "KleeOne", sans-serif;
  color: white;
  scroll-behavior: smmoth;
}

html {
  font-size: clamp(10px, 1vw, 16px);
  background: #000000;
}

img,
video {
  object-fit: cover;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
span {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  color: black;
}
